/* Remove margins and make left padding standard on lists. */
ol,
ul {
    line-height: inherit;
    margin: 0;
    padding: 0 0 0 40px;
}

/* Define rounded corners on bars. */
.bar {
    border-radius: 0.75rem;
}

/* Alert bars need white backgrounds. */
.bar.alert-bar {
    background-color: #fff;
}

/* Filter bars have their own style. */
.bar.filter-bar {
    align-items: baseline;
    border-color: #b99b80;
    border-radius: 0.75rem !important;
    margin: .5rem 0 0 0;
    padding-right: 1.5rem !important;
}

.bar.filter-bar md-input-container {
    margin-right: .5rem;
}

/* Simplify success bars. */
.bar.success-bar {
    border: none;
    color: #000;
    margin: .5rem 0;
    width: auto !important;
}

prm-blank_ill .bar.success-bar {
    margin: 1rem;
}

/* Classic inputs are typically search boxes with submit buttons. */
.classic-input {
    border-radius: 1.5rem;
    box-shadow: none;
    max-width: 100%;
    min-width: 0;
    outline: 1px solid #c3c3c3;
    width: 400px;
}

.classic-input .md-button {
    border-radius: 0 1rem 1rem 0;
    line-height: 1;
    min-width: 0;
    padding: 0 0.5rem;
}

.classic-input .search-scope {
    border-radius: 0;
    line-height: 1.5;
}

.__xs .classic-input .search-scope {
    max-width: 35%;
}

.classic-input md-input-container {
    min-height: 0;
    padding: 0;
}

.classic-input md-input-container label,
.classic-input md-input-container label:not(.md-no-float) {
    padding: 0;
    transform: translate3d(0.75em, 1.875em, 0) scale(1);
}

/* Form focus is used in advanced and citation search, and item actions. */
.form-focus {
    border-radius: 12px;
    box-shadow: none;
}

/* Form shaded content is used in the citation search. */
.form-shaded-content {
    background-color: transparent;
}

/* Remove borders and backdrops from list items. */
.list-item-wrapper {
    border: none;
}

.list-item-wrapper:focus-within .list-item-primary-content:before,
.list-item-wrapper:focus .list-item-primary-content:before,
.list-item-wrapper:hover .list-item-primary-content:before {
    display: none;
}

/* Make buttons rounded on the end to match BGSU style. */
.md-button {
    border-radius: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.25;
    margin: 0 1ex;
    min-width: 0;
    padding: 0 0.75rem;
}

.md-button.md-mini {
    margin: 0;
}

md-dialog .md-list[class$=-line] md-list-item .md-button,
md-dialog .md-list[class$=-line] md-list-item.md-no-style .md-button,
md-dialog .md-list[class$=-line] md-list-item.md-no-style button,
md-dialog .md-list[class$=-line] md-list-item button,
md-dialog .md-list md-list-item .md-button,
md-dialog .md-list md-list-item.md-no-style .md-button,
md-dialog .md-list md-list-item.md-no-style button,
md-dialog .md-list md-list-item button,
md-dialog md-list md-list-item .md-button,
md-dialog md-list md-list-item.md-no-style .md-button,
md-dialog md-list md-list-item.md-no-style button,
md-dialog md-list md-list-item button {
    color: #4f2c1d;
    padding: 0 0.75rem;
}

md-toast .md-button {
    line-height: 1;
}

/* Back buttons in tabs, typically location items. */
md-tabs.tabs-as-app .back-button {
    color: #4f2c1d;
}

md-tabs.tabs-as-app .back-button:focus:not([disabled]),
md-tabs.tabs-as-app .back-button:hover:not([disabled]) {
    background-color: #4f2c1d;
    color: #fff;
}

/* Buttons in toolbars, typically seen when filtering lists on mobile. */
md-toolbar.default-toolbar .md-button,
md-toolbar.md-primoExplore-theme.default-toolbar .md-button,
md-toolbar:not(.md-menu-toolbar).default-toolbar .md-button {
    background-color: transparent;
    border-radius: 0;
    color: #4f2c1d;
    opacity: 1;
}

md-toolbar.default-toolbar .md-button:focus,
md-toolbar.default-toolbar .md-button:hover,
md-toolbar.md-primoExplore-theme.default-toolbar .md-button:focus,
md-toolbar.md-primoExplore-theme.default-toolbar .md-button:hover,
md-toolbar:not(.md-menu-toolbar).default-toolbar .md-button:focus,
md-toolbar:not(.md-menu-toolbar).default-toolbar .md-button:hover {
    color: #7f3f2f;
}

/* Toolbar dividers should not take up entire height. */
md-toolbar.md-primoExplore-theme .toolbar-divider,
md-toolbar .toolbar-divider,
md-toolbar:not(.md-menu-toolbar) .toolbar-divider {
    height: 80%;
}

/* Large submit buttons can be BGSU orange. */
.md-button.button-confirm.button-large,
.md-button.button-confirm.large-icon,
.md-button.button-confirm.submit-button,
.multiselect-submit .multiselect-submit-inner .md-button.md-primary {
    color: #fd5000;
    font-weight: 600;
}

.md-button.button-confirm.button-large:focus:not([disabled]),
.md-button.button-confirm.button-large:hover:not([disabled]),
.md-button.button-confirm.large-icon:focus:not([disabled]),
.md-button.button-confirm.large-icon:hover:not([disabled]),
.md-button.button-confirm.submit-button:focus:not([disabled]),
.md-button.button-confirm.submit-button:hover:not([disabled]),
.multiselect-submit .multiselect-submit-inner .md-button.md-primary:focus:not([disabled]),
.multiselect-submit .multiselect-submit-inner .md-button.md-primary:hover:not([disabled]) {
    background-color: #fd5000;
    color: #fff;
}

/* Fast action buttons are primarily used for the speed dial widget. */
.md-button.md-fab {
    padding: 0;
}

/* Mobile action buttons appear when filtering a list on mobile devices. */
.md-button.mobile-action-button {
    min-width: 5.5rem;
}

/* Section titles are used in sidebar. */
.md-button.section-title {
    line-height: 1.5;
    margin: .75em 0 .25em 0;
    padding: 0;
}

/* Create a default style for cards and their titles. */
md-card.default-card,
prm-featured-result-item md-card {
    border-radius: 0.75rem;
    box-shadow: none;
    font: inherit;
    outline: 1px solid #80baac;
}

md-card md-card-title,
md-card.default-card md-card-title:not(#featuredResultTitle),
prm-featured-result-item md-card md-card-title:not(#featuredResultTitle) {
    padding: 1rem;
    padding-bottom: 0;
}

/* Outlined chips are used for labels on favorites. */
.md-chips .md-chip.outline-chip {
    box-shadow: none;
    background-color: #E1D8CD;
    color: #3a3a3a;
}

.md-chips .md-chip.toggleable-chip .md-chip-remove-container button {
    padding: 0 0.75rem;
}

/* Improve appearance of datepicker. */
.md-datepicker-calendar-pane .md-calendar tr:last-child td {
    border-bottom-color: rgba(0, 0, 0, .2);
}

.md-datepicker-calendar-pane .md-datepicker-input-mask {
    height: 0;
}

.md-datepicker-calendar-pane .md-calendar-scroll-mask {
    vertical-align: bottom;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon md-datepicker .md-datepicker-button {
    position: absolute;
    left: -24px;
    padding: 0;
    width: 24px;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon.md-input-focused:after {
    width: 100%;
    margin-left: 0;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon md-datepicker .md-datepicker-input-container {
    width: 100%;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon md-datepicker .md-datepicker-input-container input {
    border-bottom-color: rgba(0, 0, 0, .54);
    font-size: 1rem;
    max-width: 100%;
}

.md-datepicker-triangle-button.md-button.md-icon-button,
.md-datepicker-triangle-button.md-button.md-icon-button:focus:not([disabled]),
.md-datepicker-triangle-button.md-button.md-icon-button:hover:not([disabled]) {
    background-color: transparent;
    color: #3a3a3a;
    right: 6px;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon md-datepicker .md-datepicker-button:focus:not([disabled]),
._md-datepicker-floating-label._md-datepicker-has-calendar-icon md-datepicker .md-datepicker-button:hover:not([disabled]) {
    background-color: transparent;
    color: #7f3f2f;
}

/* Remove some odd styles from input containers. */
md-input-container {
    padding-top: 0;
}

md-input-container.md-input-focused label:not(.md-no-float),
md-input-container.md-input-has-placeholder label:not(.md-no-float),
md-input-container.md-input-has-value label:not(.md-no-float) {
    opacity: 1;
}

/* Lists used throughout. */
md-list-item.md-2-line .md-list-item-text h3,
md-list-item.md-2-line>.md-no-style .md-list-item-text h3,
md-list-item.md-3-line .md-list-item-text h3,
md-list-item.md-3-line>.md-no-style .md-list-item-text h3,
md-list-item.md-2-line .md-list-item-text h4,
md-list-item.md-2-line>.md-no-style .md-list-item-text h4,
md-list-item.md-3-line .md-list-item-text h4,
md-list-item.md-3-line>.md-no-style .md-list-item-text h4,
md-list-item.md-2-line .md-list-item-text p,
md-list-item.md-2-line>.md-no-style .md-list-item-text p,
md-list-item.md-3-line .md-list-item-text p,
md-list-item.md-3-line>.md-no-style .md-list-item-text p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
    margin: 0;
}

md-list-item.md-2-line .md-list-item-text h3,
md-list-item.md-2-line>.md-no-style .md-list-item-text h3,
md-list-item.md-3-line .md-list-item-text h3,
md-list-item.md-3-line>.md-no-style .md-list-item-text h3 {
    font-size: 1.1rem;
}

md-list-item.md-2-line .md-list-item-text h4,
md-list-item.md-2-line>.md-no-style .md-list-item-text h4,
md-list-item.md-3-line .md-list-item-text h4,
md-list-item.md-3-line>.md-no-style .md-list-item-text h4 {
    font-size: 1.0625rem;
}

/* Menu content used for labels on favorites. */
md-menu-content .menu-title {
    padding: 0.25rem 1rem;
}

md-menu-content md-input-container input {
    border-bottom-color: rgba(0, 0, 0, 0.54);
}

md-menu-content md-menu-item > .md-button {
    font-size: 1rem;
}

md-menu-content md-menu-item > .md-button prm-icon md-icon {
    top: -2px;
}

md-menu-content md-menu-item > .md-button prm-icon + span {
    margin-left: 3px;
}

md-menu-content.menu-with-footer .menu-footer md-input-container {
    max-width: 100%;
    margin: 1rem;
}

/* Align radio buttons with their labels. */
md-radio-button .md-label {
    height: auto;
    min-height: 20px;
    vertical-align: top;
}

/* Tree navs are primarily used on Journal List. */
prm-tree-nav md-list md-list:before {
    display: none;
}

prm-tree-nav md-list md-list-item.md-no-proxy {
    padding: 0 0 0 .75rem;
}

prm-tree-nav md-list md-list-item:after {
    background-color: #fd5000;
    left: 1.75rem;
    opacity: 1;
    top: .9375rem;
}

prm-tree-nav md-list md-list-item .md-button,
prm-tree-nav md-list md-list-item md-button {
    border-radius: 3px;
    color: #3a3a3a;
    font-size: 0.9375rem;
}

prm-tree-nav md-list md-list-item.has-branches:after {
    display: none;
}

prm-tree-nav md-list md-list-item .md-button p,
prm-tree-nav md-list md-list-item md-button p {
    line-height: 1.2;
}

prm-tree-nav md-list md-list-item .md-button:focus:not([disabled]),
prm-tree-nav md-list md-list-item .md-button:hover:not([disabled]),
prm-tree-nav md-list md-list-item md-button:focus:not([disabled]),
prm-tree-nav md-list md-list-item md-button:hover:not([disabled]) {
    background-color: #3a3a3a;
    color: #fff;
}

prm-tree-nav md-list md-list-item .md-button.branch-arrow,
prm-tree-nav md-list md-list-item md-button.branch-arrow {
    color: #fd5000;
}

prm-tree-nav md-list md-list-item .md-button.branch-arrow:focus:not([disabled]),
prm-tree-nav md-list md-list-item .md-button.branch-arrow:hover:not([disabled]),
prm-tree-nav md-list md-list-item md-button.branch-arrow:focus:not([disabled]),
prm-tree-nav md-list md-list-item md-button.branch-arrow:hover:not([disabled]) {
    background-color: #fff;
    color: #ff7300;
}

prm-tree-nav md-list md-list-item .md-button.branch-arrow md-icon,
prm-tree-nav md-list md-list-item md-button.branch-arrow md-icon {
    transform: none;
}

prm-tree-nav md-list md-list-item .md-button.branch-name,
prm-tree-nav md-list md-list-item md-button.branch-name {
    margin: .25rem 0;
    min-height: .75rem;
    padding: 3px .25em;
}

prm-tree-nav md-list md-list-item .md-button.branch-name.is-selected,
prm-tree-nav md-list md-list-item md-button.branch-name.is-selected {
    color: #1c626d;
}

/* Standardize select appearance. */
.md-button.button-with-menu-arrow .menu-arrow::after,
._md-select-value ._md-select-icon::after,
._md-select-value .md-select-icon::after,
.md-select-value ._md-select-icon::after,
.md-select-value .md-select-icon::after {
    top: 2px;
}

.md-select-value {
    min-width: 0;
}

.md-select-value .md-select-icon {
    margin: 0 0 0 4px;
    width: auto;
}

md-select[disabled] .md-select-value .md-select-icon {
    display: none;
}

/* Improve readability of tabs. */
.md-tab {
    font-size: 1rem;
    font-weight: 400;
}

/* Service forms are typically used for requesting materials. */
.service-form {
    border-radius: 1rem;
    box-shadow: none;
}

.__xs .service-form {
    flex-direction: column;
}

.service-form.layout-margin {
    margin: 0.5rem 0 0 0;
}

.service-form .md-button {
    margin: 0 auto;
}

.service-form .service-form-static-panel {
    border-radius: 1rem 0 0 1rem;
}

.__xs .service-form .service-form-static-panel {
    border-radius: 1rem 1rem 0 0;
    box-shadow: inset 0 -1px 0 0;
}

.service-form .service-form-static-panel * {
    color: #000;
}

.service-form .service-form-static-panel .content-header {
    padding: 8px;
}

.service-form .service-form-static-panel .content-header .md-title {
    margin: 0;
}

.service-form .service-form-static-panel .md-input-container-dummy {
    padding: 0 0 8px 0;
}

.service-form .service-form-static-panel .md-input-container-dummy .label-dummy {
    color: #3a3a3a;
}

.service-form .service-form-dynamic-panel > form > .layout-row > .layout-column {
    width: 100%;
}

.service-form .service-form-dynamic-panel md-input-container {
    width: 100%;
}

.service-form .service-form-dynamic-panel .relative-position > label {
    font-size: 14px;
    left: 3px;
    position: relative;
    top: 20px;
}

.service-form .service-form-dynamic-panel .relative-position > prm-icon {
    left: -24px;
    position: absolute;
    top: 16px;
}

/* Tiles used in the account overview. */
.tiles-grid-tile {
    background-color: #f1ebe5;
    border-radius: 1rem 0 1rem 0;
    box-shadow: none;
    padding: .5rem 0;
}

.tiles-grid-tile .tile-header,
md-grid-tile .tile-header {
    padding: .5rem 1rem;
}

.tiles-grid-tile .tile-header .header-link,
md-grid-tile .tile-header .header-link {
    color: #4f2c1d;
    font-weight: 400;
}

.tiles-grid-tile .tile-header .md-button,
md-grid-tile .tile-header .md-button {
    line-height: 2.25;
    margin-top: -.3125rem;
}

.tiles-grid-tile .tile-content md-list-item:hover,
.tiles-grid-tile md-list md-list-item:hover,
md-grid-tile .tile-content md-list-item:hover,
md-grid-tile md-list md-list-item:hover {
    background-color: transparent;
}

.tiles-grid-tile .tile-content .weak-text {
    color: inherit;
}
