/* Remove margins and make left padding standard on lists. */
ol,
ul {
    line-height: inherit;
    margin: 0;
    padding: 0 0 0 40px;
}

/* Remove rounded corners on bars. */
.bar {
    border-radius: 0;
}

/* Filter bars have their own style. */
.bar.filter-bar {
    align-items: baseline;
    border-color: #b99b80;
    border-radius: 0.75rem !important;
    margin: .5rem 0 0 0;
    padding-right: 1.5rem !important;
}

.bar.filter-bar md-input-container {
    margin-right: .5rem;
}

/* Classic inputs are typically search boxes with submit buttons. */
.classic-input {
    border-radius: 4px;
    box-shadow: none;
    max-width: 100%;
    min-width: 0;
    outline: 1px solid #c3c3c3;
    width: 400px;
}

.classic-input .md-button {
    border-radius: 0 4px 4px 0;
}

.classic-input .search-scope {
    border-radius: 0;
}

.classic-input md-input-container {
    padding: 0;
}

.classic-input md-input-container label,
.classic-input md-input-container label:not(.md-no-float) {
    transform: translate3d(0.75em, 2.25em, 0) scale(1);
}

/* Remove borders and backdrops from list items. */
.list-item-wrapper {
    border: none;
}

.list-item-wrapper:focus-within .list-item-primary-content:before,
.list-item-wrapper:focus .list-item-primary-content:before,
.list-item-wrapper:hover .list-item-primary-content:before {
    display: none;
}

/* Make buttons rounded on the end to match BGSU style. */
.md-button {
    border-radius: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.25;
    margin: 0 1ex;
    min-width: 0;
    padding: 0 0.75rem;
}

md-dialog .md-list[class$=-line] md-list-item .md-button,
md-dialog .md-list[class$=-line] md-list-item.md-no-style .md-button,
md-dialog .md-list[class$=-line] md-list-item.md-no-style button,
md-dialog .md-list[class$=-line] md-list-item button,
md-dialog .md-list md-list-item .md-button,
md-dialog .md-list md-list-item.md-no-style .md-button,
md-dialog .md-list md-list-item.md-no-style button,
md-dialog .md-list md-list-item button,
md-dialog md-list md-list-item .md-button,
md-dialog md-list md-list-item.md-no-style .md-button,
md-dialog md-list md-list-item.md-no-style button,
md-dialog md-list md-list-item button {
    color: #4f2c1d;
    padding: 0 0.75rem;
}

md-toast .md-button {
    line-height: 1;
}

/* Back buttons in tabs, typically location items. */
md-tabs.tabs-as-app .back-button {
    color: #4f2c1d;
}

md-tabs.tabs-as-app .back-button:focus:not([disabled]),
md-tabs.tabs-as-app .back-button:hover:not([disabled]) {
    background-color: #4f2c1d;
    color: #fff;
}

/* Buttons in toolbars, typically seen when filtering lists on mobile. */
md-toolbar.default-toolbar .md-button,
md-toolbar.md-primoExplore-theme.default-toolbar .md-button,
md-toolbar:not(.md-menu-toolbar).default-toolbar .md-button {
    background-color: transparent;
    border-radius: 0;
    color: #4f2c1d;
    opacity: 1;
}

md-toolbar.default-toolbar .md-button:focus,
md-toolbar.default-toolbar .md-button:hover,
md-toolbar.md-primoExplore-theme.default-toolbar .md-button:focus,
md-toolbar.md-primoExplore-theme.default-toolbar .md-button:hover,
md-toolbar:not(.md-menu-toolbar).default-toolbar .md-button:focus,
md-toolbar:not(.md-menu-toolbar).default-toolbar .md-button:hover {
    color: #7f3f2f;
}

/* Toolbar dividers should not take up entire height. */
md-toolbar.md-primoExplore-theme .toolbar-divider,
md-toolbar .toolbar-divider,
md-toolbar:not(.md-menu-toolbar) .toolbar-divider {
    height: 80%;
}

/* Fast action buttons are primarily used for the speed dial widget. */
.md-button.md-fab {
    padding: 0;
}

/* Mobile action buttons appear when filtering a list on mobile devices. */
.md-button.mobile-action-button {
    min-width: 5.5rem;
}

/* Section titles are used in sidebar. */
.md-button.section-title {
    line-height: 1.5;
    margin: .75em 0 .25em 0;
    padding: 0;
}

/* Create a default style for cards and their titles. */
md-card.default-card,
prm-featured-result-item md-card {
    border-radius: 0.75rem;
    box-shadow: none;
    font: inherit;
    outline: 1px solid #80baac;
}

md-card md-card-title,
md-card.default-card md-card-title:not(#featuredResultTitle),
prm-featured-result-item md-card md-card-title:not(#featuredResultTitle) {
    padding: 1rem;
    padding-bottom: 0;
}

/* Remove some odd styles from input containers. */
md-input-container {
    padding-top: 0;
}

md-input-container.md-input-focused label:not(.md-no-float),
md-input-container.md-input-has-placeholder label:not(.md-no-float),
md-input-container.md-input-has-value label:not(.md-no-float) {
    opacity: 1;
}

/* Align radio buttons with their labels. */
md-radio-button .md-label {
    height: auto;
    min-height: 20px;
    vertical-align: top;
}

/* Standardize select appearance. */
.md-button.button-with-menu-arrow .menu-arrow::after,
._md-select-value ._md-select-icon::after,
._md-select-value .md-select-icon::after,
.md-select-value ._md-select-icon::after,
.md-select-value .md-select-icon::after {
    font-size: 1rem;
    top: 2px;
}

.md-select-value {
    min-width: 0;
}

.md-select-value .md-select-icon {
    margin: 0 0 0 4px;
    width: auto;
}

/* Improve readability of tabs. */
.md-tab {
    font-size: 1rem;
    font-weight: 400;
}

/* Service forms are typically used for requesting materials. */
.service-form {
    border-radius: 1rem;
    box-shadow: none;
}

.__xs .service-form {
    flex-direction: column;
}

.service-form.layout-margin {
    margin: 0.5rem 0 0 0;
}

.service-form .md-button {
    margin: 0 auto;
}

.service-form .service-form-static-panel {
    border-radius: 1rem 0 0 1rem;
}

.__xs .service-form .service-form-static-panel {
    border-radius: 1rem 1rem 0 0;
    box-shadow: inset 0 -1px 0 0;
}

.service-form .service-form-static-panel * {
    color: #000;
}

.service-form .service-form-static-panel .content-header {
    padding: 8px;
}

.service-form .service-form-static-panel .content-header .md-title {
    margin: 0;
}

.service-form .service-form-static-panel .md-input-container-dummy {
    padding: 0 0 8px 0;
}

.service-form .service-form-static-panel .md-input-container-dummy .label-dummy {
    color: #3a3a3a;
}
