/* Style boxes shown on Primo VE homepage. */
md-content.main > .flex[section="homepage"] {
    padding: 1rem 0.5rem;
}

.__gt-sm md-content.main > .flex[section="homepage"] {
    min-width: 960px;
}

.__gt-sm md-content.main:has(.flex[section="homepage"]) > .flex-0 {
    max-width: 100%;
}

md-content.main > .flex[section="homepage"] md-card.default-card {
    background-color: #4f2c1d;
    border-radius: 1.5rem 0;
    color: #fff;
    outline: none;
    padding: 0.5rem;
}

md-content.main > .flex[section="homepage"] md-card.default-card a {
    color: #fff;
}

md-content.main > .flex[section="homepage"] md-card.default-card a:focus,
md-content.main > .flex[section="homepage"] md-card.default-card a:hover,
md-content.main > .flex[section="homepage"] md-card.default-card em {
    color: #f5c163;
}

md-content.main > .flex[section="homepage"] md-card.default-card h2 {
    font-size: 2rem;
}
