prm-alma-other-members .bold {
    font-size: inherit;
    font-weight: 600;
}

prm-alma-other-members .md-button.item-expand-button,
prm-alma-other-members .md-button.md-icon-button {
    color: #4f2c1d;
}

prm-alma-other-members .md-button.item-expand-button:focus:not([disabled]),
prm-alma-other-members .md-button.item-expand-button:hover:not([disabled]),
prm-alma-other-members .md-button.md-icon-button:focus:not([disabled]),
prm-alma-other-members .md-button.md-icon-button:hover:not([disabled]) {
    background-color: #4f2c1d;
    color: #fff;
}

prm-alma-other-members .md-button.neutralized-button {
    background-color: transparent;
    border-radius: 1rem 0 1rem 0;
    color: #000;
    padding: .25rem 0 .25rem 1rem;
    transition: background-color .3s ease;
}

prm-alma-other-members .md-button.neutralized-button._md-focused:not([disabled]),
prm-alma-other-members .md-button.neutralized-button.hovered:not([disabled]),
prm-alma-other-members .md-button.neutralized-button.md-focused:not([disabled]),
prm-alma-other-members .md-button.neutralized-button:focus:not([disabled]),
prm-alma-other-members .md-button.neutralized-button:hover:not([disabled]) {
    background-color:#f1ebe5;
    color: #000;
}

prm-alma-other-members .md-button.section-title {
    border-radius: 0;
    line-height: 40px;
    margin: .5rem 0 0 0;
    padding: 0;
}

prm-alma-other-members .md-button.section-title:focus:not([disabled]),
prm-alma-other-members .md-button.section-title:hover:not([disabled]) {
    background-color: transparent;
    color: #7f3f2f;
}

prm-alma-other-members .md-button br {
    display: none;
}

prm-alma-other-members .md-button prm-icon {
    color: inherit;
}

prm-alma-other-members md-list {
    padding: 0;
}

prm-alma-other-members md-list-item.md-2-line:has(.md-button.neutralized-button) {
    min-height: 0;
    padding: 0;
}

/* Hide the Register button under other institutions. */
prm-alma-other-members .md-button:has(span[translate="nui.fulldisplay.otherLocations.register"]) {
    display: none;
}
