:is(prm-virtual-browse, prm-more-like-this) .md-virtual-repeat-container {
    background-color: #E1D8CD;
    border: 1px solid #b99b80;
    border-radius: 0.75rem;
}

:is(prm-virtual-browse, prm-more-like-this) .container-nav-controls .nav-control md-icon {
    border-radius: 12px;
}

:is(prm-virtual-browse, prm-more-like-this) .container-nav-controls .nav-control:focus:not([disabled]),
:is(prm-virtual-browse, prm-more-like-this) .container-nav-controls .nav-control:hover:not([disabled]) {
    background-color: transparent;
}

:is(prm-virtual-browse, prm-more-like-this) .container-nav-controls .nav-control:focus:not([disabled]) md-icon,
:is(prm-virtual-browse, prm-more-like-this) .container-nav-controls .nav-control:hover:not([disabled]) md-icon {
    background-color: #4f2c1d;
}

prm-more-like-this md-divider {
    display: none;
}

prm-more-like-this .external-links div {
    margin: 0 0 0.5rem 0;
    padding: 0;
}
