@import 'https://use.typekit.net/aca8pmr.css';
@import 'colors.css';
@import 'links.css';
@import 'mdDialog.css';
@import 'prmSearchBar.css';
@import 'prmTopBar.css';
@import 'prmTopBarBefore.css';

/* Remove fake underlines from focused and hovered links. */
a:focus,
a:hover,
a.hover {
    box-shadow: none;
}

/* Standardize font appearance. */
html {
    font-size: 16px;
}

body {
    font: normal 400 1rem/1.5 'europa', 'Avenir Next', 'Avenir', 'Helvetica', sans-serif;
}

/* Remove rounded corners on yellow bars. */
.bar {
    border-radius: 0;
}

/* Standardize form control appearance. */
button, input, select, textarea {
    vertical-align: middle;
}

md-radio-button .md-label {
    height: auto;
    min-height: 20px;
    vertical-align: top;
}

/* Standardize backdrop appearancce. */
md-backdrop.md-opaque {
    background-color: #4f2c1d;
    opacity: 0.85;
}

.md-dialog-container.fixed-container {
    background-color: transparent;
}

/* Standardize button appearance. */
.md-button {
    border-radius: 24px;
    font: normal normal 400 1rem/1.5 'europa', 'Avenir Next', 'Avenir', 'Helvetica', sans-serif;
    letter-spacing: normal;
    min-width: 0;
    padding: 0 12px;
    text-transform: none;
    vertical-align: middle;
}

.md-button.button-as-link,
.bar prm-authentication .md-button {
    line-height: 1.6em;
}

.md-button.neutralized-button:hover,
.md-button.neutralized-button:focus {
    background-color: transparent;
    color: inherit;
}

/* Standardize dropdown appearance. */
.md-button.button-with-menu-arrow .menu-arrow::after,
._md-select-value ._md-select-icon:after,
._md-select-value .md-select-icon:after,
.md-select-value ._md-select-icon:after,
.md-select-value .md-select-icon:after {
    font-size: 1rem;
    top: 2px;
}

.md-button.button-with-icon > prm-icon + span {
    padding-right: 0;
}

.md-select-value {
    min-width: 0;
}

.md-select-value .md-select-icon {
    margin: 0 0 0 4px;
    width: auto;
}

/* Show more entries in Search Profile Slot dropdown. */
md-select-menu,
md-select-menu md-content {
    max-height: 480px; /* 48px * 10 entries */
}

/* Fix overflow of Search Profile Slot dropdown. */
.search-options {
    min-width: 0;
}

/* Improve readability of tabs. */
.md-tab {
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
}

/* Do not have favorites icon animate into place. */
#fixed-buttons-holder {
    animation: none;
}

/* Hide extra padding on right side of content. */
md-content > .flex-0 {
    margin-left: 0 !important;
}

/* Hide newspaper spotlight at bottom of search results. */
prm-search-result-list div:has(> prm-newspapers-spotlight) {
    display: none;
}

/* Remove italics from header of search results. */
prm-search-result-list .results-title,
prm-search-result-tool-bar .results-title {
    font-style: normal;
}

/* Improve pagination control used on browse pages. */
prm-page-nav-menu #speedDialWidget .md-button.md-fab {
    border-radius: 50% !important;
    font-size: 0px;
}

prm-page-nav-menu #speedDialWidget .md-button.md-fab:focus,
prm-page-nav-menu #speedDialWidget .md-button.md-fab:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.facet-to-left prm-page-nav-menu #speedDialWidget {
    bottom: 1em;
}

.facet-to-left prm-page-nav-menu #speedDialWidget .counter-nav,
.facet-to-left prm-page-nav-menu #speedDialWidget .page-nav-inner:after {
    left: 0;
    right: 0;
}

/* Move proactive chat away from pagination control. */
body:has(#speedDialWidget) > [id^="bgsu_libchat"] {
    transform: translate(calc(-40px - 1em), 0) !important;
}

/* Improve alignment of numerals in search result checkboxes. */
.has-checkbox .list-item-count {
    left: 13px;
    top: 17px;
}

/* Fix menu icons on mobile devices. */
.settings-container .md-button prm-icon {
    opacity: 1;
    margin-right: 0;
    text-align: left;
    width: 28px;
}

/* Do not use all-uppercase text. */
.tiny-uppercase-text {
    letter-spacing: normal;
    text-transform: none;
}

/* Simplify box shadows. */
.__xs prm-atoz-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper, .__xs prm-authority-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper, .__xs prm-browse-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper, .__xs prm-newspapers-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper, .__xs prm-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper, .__xs prm-tags-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper, .classic-input, .default-shadow, .list-item-wrapper:last-of-type, .prm-bricks-list md-list-item, .prm-recommendations-fullview md-card, .tiles-grid-tile, md-card.default-card, md-grid-tile, md-list.prm-list, md-toolbar.md-primoExplore-theme.white-toolbar.is-stuck, md-toolbar.white-toolbar.is-stuck, md-toolbar.white-toolbar.is-stuck:not(.md-menu-toolbar), md-tooltip.content-tooltip, prm-breadcrumbs .md-chip, prm-browse-search md-list.prm-list, prm-collection-search .search-within .filter-chip, prm-featured-result-item md-card, prm-gallery-collection, prm-gallery-item .collection-element, prm-location-items md-list, prm-more-like-this-item md-card, prm-ngrs-results-button md-card, prm-opac md-list md-list-item:last-of-type, prm-page-nav-menu #resultsPerPage .counter-main md-fab-actions:after, prm-page-nav-menu #speedDialWidget .counter-main md-fab-actions:after, prm-recomendation-item .media-on-hover .pin-button, prm-resource-recommender md-card, prm-search-error-message .md-card, prm-search-error-message md-card, prm-search-result-list .pages-separated-with-gaps .list-item-wrapper.first-in-page:not(:first-of-type):before, prm-search-result-list .pages-separated-with-gaps .list-item-wrapper:nth-last-child(2), prm-search-result-list .results-header.is-stuck, prm-search-result-list .search-within .filter-chip, prm-tags-results-list md-list.prm-list, prm-virtual-browse-item md-card {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
}

.__gt-xs prm-atoz-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper, .__gt-xs prm-authority-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper, .__gt-xs prm-browse-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper, .__gt-xs prm-newspapers-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper, .__gt-xs prm-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper, .__gt-xs prm-tags-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper, .default-shadow-on-dark, prm-alphabet-toolbar .md-button.active, prm-alphabet-toolbar .md-button.active.md-focused, prm-alphabet-toolbar .md-button.active:focus, prm-alphabet-toolbar .md-button.active:hover, prm-atoz-search-bar .classic-input, prm-authority-search-bar .classic-input, prm-browse-search-bar .classic-input, prm-newspapers-search-bar .classic-input, prm-tags-search-bar .classic-input {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .2);
}
