/* Style the Links Menu overflow, Log In menu and QR Code/Copy Link popup. */
md-dialog.light-on-dark-dialog {
    background-color: #4f2c1d;
    border: none;
    border-radius: 12px;
}

md-dialog.light-on-dark-dialog.full-cover-dialog {
    border-radius: 0;
}

md-dialog.light-on-dark-dialog md-list md-list-item.list-login .md-button {
    box-shadow: none;
    color: #fff;
}

md-dialog.light-on-dark-dialog md-list md-list-item.list-login .md-button:focus + .md-list-item-inner,
md-dialog.light-on-dark-dialog md-list md-list-item.list-login .md-button:hover:not([disabled]) {
    color: #f5c163 !important;
}

md-dialog.light-on-dark-dialog md-menu-item > .md-button {
    border-radius: 24px;
}

.__xs md-dialog.light-on-dark-dialog .custom-links-container .main-menu-button {
    margin-left: 0 !important;
}

md-dialog.light-on-dark-dialog .custom-links-container .main-menu-button .transparent-card {
    border-radius: 12px;
    padding: 0.5em;
}

md-dialog.light-on-dark-dialog .md-button.button-confirm {
    color: #fff;
}

md-dialog.light-on-dark-dialog .md-button:focus span,
md-dialog.light-on-dark-dialog .md-button:hover span,
md-dialog.light-on-dark-dialog .md-button._md-focused:not([disabled]),
md-dialog.light-on-dark-dialog .md-button.hovered:not([disabled]),
md-dialog.light-on-dark-dialog .md-button.md-focused:not([disabled]),
md-dialog.light-on-dark-dialog .md-button:not(.disable-hover):focus:not([disabled]),
md-dialog.light-on-dark-dialog .md-button:not(.disable-hover):hover:not([disabled]),
md-dialog.light-on-dark-dialog .md-button.button-confirm._md-focused:not([disabled]),
md-dialog.light-on-dark-dialog .md-button.button-confirm.hovered:not([disabled]),
md-dialog.light-on-dark-dialog .md-button.button-confirm.md-focused:not([disabled]),
md-dialog.light-on-dark-dialog .md-button.button-confirm:focus:not([disabled]),
md-dialog.light-on-dark-dialog .md-button.button-confirm:hover:not([disabled]) {
    color: #4f2c1d !important;
}

md-dialog.light-on-dark-dialog .md-button .md-headline,
md-dialog.light-on-dark-dialog .overlay-menu-item .md-headline {
    color: inherit;
    font: normal normal 400 2rem/1 "kepler-std-display", "Century Schoolbook", "New Century Schoolbook", "Georgia", "Palatino", "Bookman", serif;
}

/* Hide external link icon for SAML login. */
md-dialog.light-on-dark-dialog md-list md-list-item.list-login [external-link] {
    display: none;
}

/* Fix too small and thin text. */
md-dialog.light-on-dark-dialog .user-menu-header span {
    font-size: inherit !important;
}

md-dialog.light-on-dark-dialog .tiny-uppercase-text {
    font-weight: 600;
}
