/* Use dark text for when the background changes to white. */
prm-atoz-search-bar,
prm-authority-search-bar,
prm-browse-search-bar,
prm-newspapers-search-bar,
prm-search-bar,
prm-tags-search-bar {
    color: #3a3a3a;
}

/* Do not change backdrop of search area when advanced search is shown. */
:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
) .advanced-search-backdrop.visible {
    display: none;
}

/* Make the search bar full width and standardize appearance. */
:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
) .search-wrapper .search-elements-wrapper {
    max-width: 100%;
    min-height: 0;
}

:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
) .flex-0 {
    display: none;
}

:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
)
:is(
    .classic-input,
    .classic-input .search-scope
) {
    border-radius: 0;
}

:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
) .classic-input md-input-container {
    min-height: 0;
    padding: 0;
}

:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
) .classic-input md-input-container md-select .md-select-value {
    min-height: 21px;
}

prm-atoz-search-bar .journal-search-tile {
    font-weight: 600;
    width: auto;
}

prm-atoz-search-bar .layout-row .layout-column {
    max-width: 100%;
}

prm-newspapers-search-bar .bold-text {
    font-size: inherit !important;
    text-transform: none !important;
    letter-spacing: inherit !important;
}

prm-newspapers-search-bar .classic-input .search-scope {
    width: auto;
}

.__xs prm-newspapers-search-bar .search-options {
    width: auto;
}

/* Style search buttons. */
:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
) .search-actions button {
    border-radius: 0;
    min-height: 60px;
    padding: 0 6px;
}

:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
)
:is(
    .search-actions button.button-confirm,
    .classic-input .submit-button
) {
    border-radius: 0;
    color: #fd5000;
    padding: 0 12px;
}

:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
)
:is(
    .search-actions button.button-confirm:not([disabled]):focus,
    .search-actions button.button-confirm:not([disabled]):hover,
    .classic-input .submit-button:not([disabled]):focus,
    .classic-input .submit-button:not([disabled]):hover
) {
    color: #fff;
    background-color: #fd5000;
}

/* Fix style of Advanced/Simple search buttons. */
:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
) .advanced-search-wrapper .md-button.switch-to-simple {
    top: 4px;
    right: 4px;
}

:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
) .search-switch-buttons {
    margin: 0;
}

.__gt-xs :is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
) .search-switch-buttons {
    padding-left: 12px;
}

:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
) .search-switch-buttons :is(
    .md-button.switch-to-advanced,
    .md-button.switch-to-simple
) {
    color: #fff;
    min-width: 102px;
}

:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
) .search-switch-buttons :is(
    .md-button.switch-to-advanced,
    .md-button.switch-to-simple
):is(
    ._md-focused:not([disabled]),
    .hovered:not([disabled]),
    .md-focused:not([disabled]),
    :focus:not([disabled]):focus:not([disabled]),
    :hover:not([disabled]):hover:not([disabled])
) {
    background-color: #fff;
    color: #4f2c1d;
}

:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
) .search-switch-buttons .layout-row {
    justify-content: center;
}

:is(
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar
) .simple-search-wrapper .search-options:after {
    background: rgba(0, 0, 0, 0.1);
}

/* Make adjustments when search bar does not take up full width. */
@media screen and (min-width: 600px) {
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar {
        padding: 1.5rem 2.625rem;
    }

    :is(
        prm-atoz-search-bar,
        prm-authority-search-bar,
        prm-browse-search-bar,
        prm-newspapers-search-bar,
        prm-search-bar,
        prm-tags-search-bar
    )
    :is(
        #searchBar,
        .classic-input,
        .search-element-inner,
        .simple-search-wrapper
    ) {
        border-radius: 30px;
    }

    :is(
        prm-atoz-search-bar,
        prm-authority-search-bar,
        prm-browse-search-bar,
        prm-newspapers-search-bar,
        prm-search-bar,
        prm-tags-search-bar
    )
    :is(
        .search-actions button.button-confirm,
        .classic-input .submit-button
    ) {
        border-radius: 0 30px 30px 0;
    }

    :is(
        prm-atoz-search-bar,
        prm-authority-search-bar,
        prm-browse-search-bar,
        prm-newspapers-search-bar,
        prm-search-bar,
        prm-tags-search-bar
    ) .search-elements-wrapper.advanced-mode {
        min-height: 540px;
    }

    md-virtual-repeat-container#prm-simple-search {
        margin-left: 32px;
    }
}

@media screen and (min-width: 960px) {
    prm-atoz-search-bar,
    prm-authority-search-bar,
    prm-browse-search-bar,
    prm-newspapers-search-bar,
    prm-search-bar,
    prm-tags-search-bar {
        padding: 1.5rem calc(2.625rem + 156px);
    }

    prm-search-bar {
        padding-right: 2.625rem;
    }

    :is(
        prm-atoz-search-bar,
        prm-authority-search-bar,
        prm-browse-search-bar,
        prm-newspapers-search-bar,
        prm-search-bar,
        prm-tags-search-bar
    ) .search-switch-buttons :is(
        .md-button.switch-to-advanced,
        .md-button.switch-to-simple
    ) {
        min-width: 144px;
    }

    /* Put organization logo over search bar when it exists. */
    body:has(
        prm-atoz-search-bar,
        prm-authority-search-bar,
        prm-browse-search-bar,
        prm-newspapers-search-bar,
        prm-search-bar,
        prm-tags-search-bar
    ) prm-topbar prm-logo .product-logo .organization-logo {
        position: relative;
        top: 84px;
    }
}

/* Style the advanced search form. */
prm-advanced-search fieldset {
    margin: 0;
    padding: 0;
}

prm-advanced-search legend {
    transform: none;
}

prm-advanced-search #searchFieldsGroupAdvancedSearch {
    width: 100%;
}

prm-advanced-search .advanced-search-output .search-string .string-field.tiny-bold.uppercase {
    font-size: inherit;
}

prm-advanced-search .search-element .advanced-search-output md-card {
    padding: 12px 24px;
}

prm-advanced-search .advanced-search-tabs md-input-container {
    margin: 1.5em 0;
    padding: 0 2px;
}

prm-search-bar .advanced-search-wrapper .inputs-row > md-input-container {
    margin: 0 .5em 1em 0;
}

prm-advanced-search .advanced-search-tabs .advanced-drop-downs {
    padding-top: 12px;
}

prm-advanced-search .collapsed-button {
    color: #3a3a3a;
    margin-top: -4px;
    padding: 0 6px;
}

prm-advanced-search .complex-rows {
    border-top: 1px solid transparent;
}

prm-advanced-search .form-focus {
    border: none;
}

prm-advanced-search .md-button.button-confirm {
    color: #fd5000;
    font-weight: 600;
}

prm-advanced-search .md-button.button-confirm:not([disabled]):is(:focus, :hover) {
    background-color: #fd5000;
    color: #fff;
}

prm-advanced-search .search-element .padded-container {
    padding: 12px 24px;
}

prm-advanced-search .tab-description {
    margin: 0;
}

@media screen and (min-width: 600px) {
    prm-advanced-search md-tab-content {
        border-radius: 0 0 30px 30px;
    }

    prm-advanced-search .collapsed-button {
        right: 12px;
        padding-left: 12px;
    }

    prm-advanced-search .collapsed-button::before {
        content: 'Show Details';
    }

    prm-advanced-search .collapsed-button[aria-expanded="true"]::before {
        content: 'Hide Details';
    }

    prm-advanced-search .form-focus {
        border-radius: 30px;
    }
}

/* Show Search Profile Slot when Advanced Search is collapsed. */
prm-advanced-search .shrink-content {
    max-height: 48px;
}

prm-advanced-search .shrink-content:not(.shrink-content-add) md-radio-group.layout-row md-radio-button {
    cursor: default;
    padding: 0;
}

prm-advanced-search .shrink-content:not(.shrink-content-add) :is(
    #searchFieldsGroupAdvancedSearch,
    md-radio-group.layout-row .md-label
) {
    margin: 0 1ex 0 0;
    width: auto;
}

prm-advanced-search .shrink-content:not(.shrink-content-add) :is(
    md-radio-button[aria-checked=false],
    md-radio-button .md-container
) {
    display: none;
}
