/* Style BGSU's custom prm-top-bar-before section. */
prm-top-bar-before .bgsu-header {
    display: block;
    margin: 0;
    padding: 0 1rem;
}

@media screen and (min-width: 960px) {
    prm-top-bar-before .bgsu-header {
        border-radius: 0 0 2.625rem 2.625rem;
        padding: 0 2.625rem;
    }
}

prm-top-bar-before .bgsu-header-logo,
prm-top-bar-before .bgsu-header-unit {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;
}

prm-top-bar-before .bgsu-header-logo {
    height: 2.625rem
}

prm-top-bar-before .bgsu-header-unit > div {
    display: block;
    font: normal normal 600 1.25rem/1 "kepler-std-display","Century Schoolbook","New Century Schoolbook","Georgia","Palatino","Bookman",serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

prm-top-bar-before .bgsu-header-unit > div > span {
    font-weight: 300;
}

prm-top-bar-before .bgsu-header :any-link {
    box-shadow: none;
    color: #000;
}

prm-top-bar-before .bgsu-header-logo > svg {
    height: 100%;
    margin: 0;
    padding: 0.8125rem 0;
    vertical-align: middle;
}

@media screen {
    prm-top-bar-before .bgsu-header {
        background-color: #4f2c1d;
    }

    prm-top-bar-before .bgsu-header :any-link {
        color: #fff;
    }

    prm-top-bar-before .bgsu-header :any-link:is(:active, :focus, :hover) {
        color: #f5c163;
    }

    prm-top-bar-before .bgsu-header-logo > svg {
        fill: #fff;
    }

    prm-top-bar-before .bgsu-header-logo:is(:active, :focus, :hover) > svg {
        fill: #f5c163;
    }
}
