/* Move height of prm-topbar to child element to support prm-top-bar-before. */
prm-topbar {
    height: auto;
}

prm-topbar > .top-nav-bar {
    height: 60px;
}

/* Always display menu, even on services page. */
prm-topbar .isDeposit, prm-topbar .isDiscoveryServicesPage, prm-topbar .isServicePage, prm-topbar .isSummonOverAlma {
    display: block;
}

/* Style the prm-topbar section. */
prm-topbar {
    background-color: #fd5000;
}

prm-topbar > .top-nav-bar {
    background-color: transparent;
    padding: 0 0 0 0.5rem;
}

@media screen and (min-width: 960px) {
    prm-topbar > .top-nav-bar {
        padding: 0 2.125rem;
    }
}

prm-topbar prm-skip-to {
    position: absolute;
}

prm-topbar prm-logo {
    flex: 0 0 180px;
}

prm-topbar prm-logo .product-logo {
    cursor: default;
    padding: 0;
}

prm-topbar prm-logo .product-logo .organization-logo {
    padding: 0.5rem;
}

prm-topbar prm-main-menu #more-links-button .item-content {
    max-width: none;
}

prm-topbar prm-search-bookmark-filter {
    margin: 0;
}

prm-topbar prm-search-bookmark-filter #favorites-button md-icon,
prm-topbar prm-search-bookmark-filter #favorites-button md-icon svg {
    transition: none;
}

prm-topbar prm-search-bookmark-filter #fixed-warning-message {
    top: 6em;
}

prm-topbar .md-button:not([disabled]):not(.disable-hover) {
    color: #fff;
    font-size: 14pt;
    font-weight: 600;
    letter-spacing: normal;
}

prm-topbar .md-button:not([disabled]):not(.disable-hover):focus,
prm-topbar .md-button:not([disabled]):not(.disable-hover):hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    box-shadow: none;
    color: #fff !important;
}

prm-topbar prm-user-area-expandable .button-with-menu-arrow:focus .menu-arrow,
prm-topbar prm-user-area-expandable .button-with-menu-arrow:hover .menu-arrow,
prm-topbar prm-user-area-expandable .button-with-menu-arrow:focus .menu-arrow:hover:not([disabled]),
prm-topbar prm-user-area-expandable .button-with-menu-arrow:hover .menu-arrow:hover:not([disabled]) {
    background-color: transparent;
    color: inherit;
}

prm-topbar prm-main-menu[menu-type="menu"] .md-button,
prm-topbar prm-user-area-expandable .md-button,
prm-topbar prm-user-area-expandable .md-button.button-with-menu-arrow:not(.button-with-icon) {
    padding: 0 0.75rem;
}

prm-topbar .buttons-group .md-button,
prm-topbar .buttons-group div:first-child .md-button {
    box-shadow: none;
}

/* Style the fixed favorites and return to top buttons. */
prm-topbar #fixed-buttons-holder.fixed-to-top {
    background-color: #fd5000;
    border-radius: 20px;
}

prm-topbar #back-to-top-button,
prm-topbar #fixed-buttons-holder.fixed-to-top #favorites-button,
prm-topbar #fixed-buttons-holder.fixed-to-top #search-button {
    background-color: transparent;
    color: #fff;
    margin: 0px;
}
